@import '../../scss/colors';
@import '../../scss/grid';

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  padding-inline: 50px;
  background-color: #212131;
  @media(max-width: $md) {
    padding-inline: 10px;
  }
  .nav-left {
    display: flex;
    .menu-btn {
      display: none;
      align-items: center;
      margin-inline: 5px;
      padding: 5px;
      font-size: 24px;
      color: white;
      border-radius: 20px;
      z-index: 70;
      cursor: pointer;
      &:hover {
        background-color: #ffffff18;
      }
      @media(max-width: $md) {
        display: flex;
      }
    }
  }
  .logo {
    width: 100px;
    height: 50px;
  }
  ul {
    @media(max-width: $md) {
      display: none;
    }
    list-style-type: none;
    display: flex;
    align-items: center;
    li {

      margin-inline: 10px;
      a {
        color: white;
        text-decoration: none;
        font: {
          size: 14px;
          weight: 600;
        }
        &:hover {
          color: $red-color;
        }
      }
    }
  }
}
.nav-bg-dark {
  display: none;
  background-color: #000000c5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
}
.nav-list {
  display: none;
  z-index: 101;
  width: 250px;
  background-color: #fcfcfc;
  position: fixed;
  top: 0;
  left: -250px;
  bottom: 0;
  transition: left 600ms ease-in-out;
  ul {
    width: 100%;
    li {
      width: 100%;
      list-style-type: none;
      &:hover {
        background-color: #00000018;
      }
      a {
        padding: 10px 20px;
        color: #272727;
        text-decoration: none;
        display: block;
        font: {
          size: 14px;
          weight: 600;
        }
      }
    }
  }
}