@import '../../scss/grid';
@import '../../scss/colors';
@import '../../scss/mixins';



footer {
  background-color: $dark1;
  padding: 15px;
  text-align: center;
  color: #fcfcfc;
  font: {
    size: 14px;
    weight: 600;
  }
  p {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}